<ion-content>
  <div padding-horizontal text-center class="animated fadeInDown">
    <h2 ion-text class="text-primary">
      <strong>กรอกข้อมูลการรีวิว</strong>
    </h2>
  </div>

  <div class="card-content">
    <ion-col>
      <ion-row>
        <ion-label class="text-review"><strong>หัวข้อการท่องเที่ยว :</strong></ion-label>
        <ion-input  type="text" [(ngModel)]="placename" name="placename" value='{{tmpobj.placename}}'
          placeholder="กรอกชื่อสถานที่ท่องเที่ยว">
        </ion-input>
      </ion-row>

      <div text-left style="margin-top: 3%; padding: 0 10px;"></div>

      <ion-row>
        <ion-col>
          <ion-label class="text-review"><strong>วันที่ท่องเที่ยว</strong></ion-label>
          <ion-input [(ngModel)]="date"  type="text" name="date" placeholder="วัน / เดือน / ปี">
          </ion-input>
        </ion-col>
        <ion-col>
          <ion-label class="text-review"><strong>ตำแหน่ง</strong></ion-label>
          <ion-input [(ngModel)]="location"  type="text"  name="location"
            placeholder="กรอกตำแหน่งของสถานที่ท่องเที่ยว">
          </ion-input>
        </ion-col>
      </ion-row>

      <div text-left style="margin-top: 3%; padding: 0 10px;"></div>

      <ion-col>
        <ion-label class="text-review"><strong>รีวิวสถานที่ท่องเที่ยว</strong></ion-label>
        <ion-textarea rows="9" [(ngModel)]="txtreview" type="text"  name="txtreview"
          placeholder="กรอกข้อความรีวิวสถานที่ท่องเที่ยว">
        </ion-textarea>
      </ion-col>

      <div text-left style="margin-top: 3%; padding: 0 10px;"></div>

      <ion-col>
        <ion-label class="text-review"><strong>ความประทับใจ</strong></ion-label>
        <ion-textarea rows="6" [(ngModel)]="impressive" class="impressive"  type="text"  name="impressive"
          placeholder="กรอกความประทับใจ">
        </ion-textarea>
      </ion-col>

      <ion-row>
        <ion-label class="text-review"><strong>ลิ้งค์รูปภาพ :</strong></ion-label>
        <ion-input [(ngModel)]="img" type="text" maxlength="200" name="img"
          placeholder="กรอกลิ้งค์รูปภาพ">
        </ion-input>
      </ion-row>

    </ion-col>
  </div>

  <div>
    <ion-button class="getstart" (click)="saveData()">
      <ion-icon name='save' style="margin-right: 10px;"></ion-icon>
      บันทึก
    </ion-button>
  </div>

  <div text-left style="margin-top: 10%; padding: 0 10px;"></div>

  <div class="animated fadeInUp get-start">
    <ion-button class="getstart" (click)="back()">
      <ion-icon name='arrow-back-circle' style="margin-right: 10px;"></ion-icon>
      กลับ
    </ion-button>
    <ion-button class="getstart" (click)="backhome()">
      <ion-icon name='home' style="margin-right: 10px;"></ion-icon>
      กลับหน้าหลัก
    </ion-button>
  </div>

  <div text-left style="margin-top: 10%; padding: 0 10px;"></div>

</ion-content>
