
<ion-content>
  <div padding-horizontal text-center class="animated fadeInDown">
    <h2 ion-text class="text-primary">
      <strong>สถานที่ท่องเที่ยวที่รีวิว</strong>
    </h2>
  </div>

  <div class="animated fadeIn card-content">
    <ion-item-sliding *ngFor="let list of this.tmpobj ">
      <ion-item-options side="start"></ion-item-options>

      <ion-item>
        <ion-label style="font-family: Itim;" ><strong>{{list.placename}}</strong> </ion-label>
        <ion-label style="font-family: Itim;" >{{list.location}}</ion-label>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option style="font-family: Itim;" (click)="presentActionSheet(list)" color="medium" expandable>
          คลิกดูรายละเอียด
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </div>

  <div text-left style="margin-top: 10%; padding: 0 10px;"></div>

  <div class="animated fadeInUp get-start">
    <ion-button class="getstart" (click)="back()">
      <ion-icon name='arrow-back-circle' style="margin-right: 10px;"></ion-icon>
      กลับ
    </ion-button>
    <ion-button class="getstart" (click)="backhome()">
      <ion-icon name='home' style="margin-right: 10px;"></ion-icon>
      กลับหน้าหลัก
    </ion-button>
  </div>

  <div text-left style="margin-top: 10%; padding: 0 10px;"></div>

</ion-content>
