<!-- -->
<ion-content>
  <div class="login-content">
    <!-- Logo -->
    <div padding-horizontal text-center class="animated fadeInDown">
      <div class="logo">
        <h2 ion-text class="text-primary">
          <strong>บันทึกการท่องเที่ยว </strong>
          <ion-icon name="airplane"></ion-icon>
        </h2>
      </div>
    </div>

    <div text-left style="margin-top: 2%; padding: 0 10px;"></div>

    <div text-center class="animated fadeIn img-content">
      <ion-img src="https://www.chillpainai.com/src/wewakeup/chillwriter/uploads/2016-07-23%2009:53:45_03.png"></ion-img>
    </div>

    <div text-left style="margin-top: 5%; padding: 0 10px;"></div>

    <div class="animated fadeInUp get-start">
      <ion-button class="getstart" (click)="getstart()">
        <ion-icon name='logo-ionic' style="margin-right: 10px;"></ion-icon>
        เริ่มต้นใช้งาน
      </ion-button>
    </div>

    <div text-left style="margin-top: 10%; padding: 0 10px;"></div>

  </div>




</ion-content>
