// Animate CSS
.animated {
  animation-duration: 2s;
  animation-fill-mode: both;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

.animated.hinge {
  animation-duration: 0s;
}

.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
  animation-duration: 2s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

@keyframes fadeInDown {
  from {
    opacity: 1;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 1;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}

.fadeInDown {
  animation-name: fadeInDown;
}
ion-content {
  --background: url(../../assets/bg.jpg) 0 0/100% 100% no-repeat !important;
  background-color: #fff;
  text-align: center;
}
@font-face {
  font-family: Itim;
  src: url("../../assets/fonts/itim.woff2") format("woff2");
}

* {
  font-family: Itim;
}

h2 {
  font-size: 60px;
}
.getstart {
  font-size: 30px;
}
ion-button {
  border: rgb(161, 15, 15);
  border-radius: 50%;
  height: 60px;
}





//** page-review**//
.card-content {

  margin-left: 10%;
  margin-right: 10%;
}
ion-icon.icon-review {
  font-size: 50px;
}
.text-review {
  margin-left: 3%;
  font-size: 25px;
}
ion-input {
  margin-left: 3%;
  margin-right: 3%;
  border: solid 1px rgb(51, 48, 48);
}
ion-textarea {
  height: 25vh;
  border: solid 1px rgb(51, 48, 48);
}
ion-textarea.impressive {
  height: 20vh;
  border: solid 1px rgb(51, 48, 48);
}

@media only screen and (max-width: 700px) {
  h2 {
    margin-top: 15%;
    font-size: 40px;
  }

  ion-img {
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
  }
  .getstart {
    font-size: 20px;
  }

  //** page-review**//
  .card-content {
    margin-left: auto;
    margin-right: 2%;
  }
  ion-icon.icon-review {
    font-size: 50px;
  }
  .text-review {
    font-size: 18px;
  }
  ion-textarea {
    height: 15vh;
    border: solid 1px rgb(51, 48, 48);
    margin-left: 2%;
  }
  ion-textarea.impressive {
    height: 10vh;
    border: solid 1px rgb(51, 48, 48);
    margin-left: 2%;
  }
  ion-item-sliding {
    margin-left: 2%;
    margin-right: 2%;
  }

}
